EXPO_PUBLIC_FINNHUB_API_KEY=your_finnhub_api_key
EXPO_PUBLIC_AUTH0_DOMAIN=your-tenant.us.auth0.com
EXPO_PUBLIC_AUTH0_CLIENT_ID=your_auth0_client_id
EXPO_PUBLIC_AUTH0_SCHEME=stockapp

ANDROID_RELEASE_STORE_FILE=release.keystore
ANDROID_RELEASE_KEY_ALIAS=your_key_alias
ANDROID_RELEASE_STORE_PASSWORD=your_store_password
ANDROID_RELEASE_KEY_PASSWORD=your_key_password
